
* {
    margin: 2px;
}

html, body {
	width: 100%;
	height: 100%;
	color: #444; 
	font-family: "Helvetica Neue", Helvetica, sans-seriff;
    background: #f0f0f0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

ul, nav {
    list-style: none;
    

}

header a {
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}

main a {
    text-decoration: none;
    opacity: 0.75;
    color: #000;

    
}


main nav ul {
    margin: 0;
    padding: 0;
    text-align: left;
   
}

main nav ul a {
    display: block;
    padding: 0.5rem 1rem;
}

main nav ul a.current {
    background: #000;
}

a: hover {
    opacity: 1;
}

h3 {
    padding: 0.1rem 1rem;
}
/* Layout */

header {
    /* position: absolute; */
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px 0;
    color: #fff;

}

header nav {
    display: flex;
    margin-right: -15px;
}

header nav li {
    margin: 0 15px;
}


.flex-header {
    background-color: #7FB3D5;
    padding-top: 1rem;
    padding-bottom: .5rem; 

}

.flex-main {
    display: flex;
    flex: 1;
}

.flex-nav {
    background-color: #D4E6F1;
    padding-top: 3rem;
    flex: 1 1 1rem;
    
}

.flex-article {
    background-color: #EAF2F8;
    padding-top: 3rem;
    flex: 3 3;
}

.flex-aside {
    background-color: #D4E6F1;
    padding-top: 3rem;
    flex: 1 1 1rem;
    text-align: justify;
}

.flex-footer {
    background-color: #7FB3D5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #EAF2F8;
    
}

@media all and (max-width: 540px) {
    .flex-main {
        flex-direction: column;
    }
}
/* Login and sign up forms */

form {
	margin: 0 auto;
	margin-top: 20px;
}

#container {
	width: 330px;
	height: 285px;
	margin-top: -130px;
	margin-left: -160px;
	top: 50%;
	left: 50%;
	position: fixed;
	background: #fff;
	border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

label {
	display: inline-block;
	margin-left: 18px;
	padding-top: 10px;
	font-size: 12px;
	color: #555
}
p a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
}
p a:hover {
    color: #555;
}
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
input[type=text],
input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
}
#login {
    background: #ecf2f5;
    width: 100%;
    height: 69px;
    margin-top: 20px;
}
input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}
.check {
    margin-left: 3px;
}
input[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
}

